
.recent .text{
    padding: 30px;
}

.recent .category span{
    padding: 8px 9px;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
}

br{
    border: 3px solid yellow;
    border-top: 30px solid red;
}

.recent .category i{
    font-size: 20px;
    color: #bec7d8;
}

.recent p{
    color: #72809d;
}

.recent .button{
    border-top: 2px solid #efe8f3;
    padding: 10px 30px;
}

.fa-location-dot{
    padding: 5px;
}

.fa-star{
    padding: 5px;
}   