

.testimonial .box{
    background-color: rgb(239, 239, 247);
    border-radius: 6px;
    padding: 40px 30px;
    margin-bottom: 30px;
}

.details .icon{
    font-size: 30px;
}


.details .message{
    line-height: 30px;
}

.details .flex img{
    gap: 10px;
    margin-top: 10px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
   
}

.details .flex span{
    font-weight: 500;
}

