.hero1 {
  background: url("../../../public/images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 140vh;
  width: 100%;
}
.flex1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login {
  padding-right: 80px;
}

.flex1 .logo{
  display: flex;
  margin: 10px 40px 60px 60px;
  padding-left: 40px;
  justify-content: center;
}

.checkbox{
  display: flex;
  justify-content: left;
  padding: 2px;
}

.flex1 .logo img{
   color: #fff;
  }

.login input .check {
  width: 18px;
  height: 18px;
}

.continuebtn{
  margin: 10px 10px;
  width: 485px;
}

.account a{
  text-decoration: underline;
  cursor: pointer;
}

.login input {
  display: flex;
  padding: 15px;
  height: 8px;
  width: 485px;
  font-size: 12px;
  border-radius: 8px;
  border: 0.5px solid grey;
  margin-bottom: 20px;
}

.login, .shadow, .input{
  padding: 10px 30px;
}

::placeholder{
  color: rgb(90, 9, 190);
}

.flex1 .logo {
  top: 465px;
  width: 130px;
  height: 95px;
}
